.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 2%;
}

#input-num-size {
    width: 20%;
    border: none;
    font-size: 2rem;
    color: var(--main);
}

#input-num-size::placeholder {
    color: var(--light);
    opacity: 1;
}

#input-num-size:-ms-input-placeholder {
    color: var(--light);
}

#input-num-size::-ms-input-placeholder {
    color: var(--light);
}

#input-unit-dropdown {
    margin-left: 2%;
    font-size: 2rem;
    background-color: white;
    border: none;
    color: var(--main);
}