.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 2%;
}

#inputFileSizeNumber {
    width: 50%;
    border: none;
    font-size: 2rem;
    color: var(--main);
}

#inputFileSize::placeholder {
    color: var(--light);
    opacity: 1;
}

#inputFileSize:-ms-input-placeholder {
    color: var(--light);
}

#inputFileSize::-ms-input-placeholder {
    color: var(--light);
}

#dropdownMenuButton {
    border: none;
    color: var(--main);
    background-color: white;
}
