#header-bar {
  display: flex;
  flex-direction: row;
  background: white;
  height: 5vh;
  margin-top: 0;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  border-radius: 20px 20px 0 0;
  cursor: pointer;
  transition: all 0.2s ease;
}

#cost-text {
  color: var(--redmain);
}

.tab:hover#cost-text {
  background-color: var(--redbackground);
}

#cost-file {
  color: var(--greenmain);
}

.tab:hover#cost-file {
  background-color: var(--greenbackground);
}

.active {
  font-size: 1.5rem;
  background-color: var(--background);
  cursor: default;

  transition: all 0.2s ease;
}