#root {
  margin: 0 auto;
  text-align: center;
}

#title {
  margin-top: 5%;
  font-size: 4rem;
}

#year-display {
  margin-top: 1%;
}

#enter-data-label {
    margin-top: 4%;
    text-align: center;
}